# Web
NEXT_PUBLIC_API_URL=https://server-production-d277.up.railway.app/api

# Email confirmation
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
WEB_APP_URL=http://localhost:3001
EMAIL_VERIFICATION_EXPIRY_HOURS=24
EMAIL_VERIFICATION_ENABLED=false
